{% extends "baseSupAd.html.twig" %}

{% block stylesheets %} {{  parent() }} {% endblock %}

{% block title %} {{  parent() }} {% endblock %}


{% block body %}




{% if electeurs %}



<div class="row">
<div class="col-lg-12">
                                  

<div class="wrapper">

    <div class="left">
        
         <img src="{{asset('images/electeurs/' ~ electeurs.image)}}" alt="" width="200" >
        <h5>Date d'emission</h5>
        
         <p><B>{{electeurs.carteElec.creatAt|date("Y-m-d")}}</B></p>
    </div>
    <div class="right">               
        <div class="info">
            <h3>Information</h3>
             <div class="annee"> 
            <h3>2020</h3>
            <p> NFS:{{electeurs.carteElec.numeroForm}}</p>
          </div>
          
            <div class="info_data">
                 <div class="data">
                    <h5>Nom :<B> {{electeurs.nom}}</B></h5>
                    <h5>Prenoms : <B>{{electeurs.prenom}}</B></h5>
                    <h5>Pere : <B>{{electeurs.pere}}  </B></h5>
                    <h5>Mere : <B>{{electeurs.mere}}  </B></h5>
                    <h5>Né(e) le : <B>{{electeurs.dateNaissance|date("Y-m-d")}}</B></h5>
                    <h5>A : <B>{{electeurs.lieuNaissance}}</B></h5>
                    <h5>Profession : <B>{{electeurs.profession}}</B></h5>
                    <h5>Adresse : <B>{{electeurs.adresse}}</B></h5>
                    <h5>Sexe : <B>{{electeurs.sexe}}</B></h5>
                   
                    
                     
                 </div>
                 <div class="data">
                   <h5>Numero de carte: </h5>
                    <p><B>{{electeurs.carteElec.numeroCarte}}</B></p>

                     <h5>Justificatif: </h5>
                    <p><B>{{electeurs.piece.nomCarte}}</B></p>
              </div>
            </div>
        </div>
      
     
    </div>
</div>

 </div>

</div>
 {% endif %}
{% endblock %}

{% block javascript %} {{  parent() }} {% endblock %}
